@font-face {
    font-family: Playwrite;
    src: url("PlaywritePL-Thin.ttf");
}

body{
    margin:0;
    font-family: Playwrite;
    background-image:url("bg.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

/* HEADER */

header{
    position:sticky;
    top:0;
    backdrop-filter:blur(10px);
    background:rgba(200,170,255,0.25);
    text-align:center;
    padding:15px;
    color:white;
    font-size:22px;
    border-bottom:1px solid rgba(255,255,255,0.3);
    z-index:1000;
}

/* SEARCH AREA */

.search-container{
    margin-top:120px;
    text-align:center;
}

/* SEARCH BAR */

#searchBar{
    width:420px;
    padding:14px;
    border-radius:12px;
    border:none;
    outline:none;
    font-size:16px;
    background:rgba(210,170,255,0.7);
    color:white;
}

/* RESULTS DROPDOWN */

#results{
    width:420px;
    margin:auto;
    margin-top:5px;
    background:rgba(40,20,60,0.85);
    border-radius:10px;
    overflow:hidden;
    backdrop-filter:blur(6px);
}

/* INDIVIDUAL RESULT */

.result{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    cursor:pointer;
    color:white;
    border-bottom:1px solid rgba(255,255,255,0.1);
    transition:background 0.2s;
}

.result:last-child{
    border-bottom:none;
}

.result:hover{
    background:rgba(200,170,255,0.3);
}

/* THUMBNAILS */

.result img{
    width:60px;
    border-radius:6px;
}

/* VIDEO PLAYER */

#player{
    margin-top:25px;
}
